

/********** Base styles **********/
* {
  box-sizing: border-box;

}

.micajita {
  border-style: solid;
  border-width: thin;
  border-color: black;
  box-sizing: border-box;
}

.p{
  text-align: center;
}

.center{
  text-align: center;
}

.cajadentrodecaja {

    float: right;
    width: 30%;  
    height: 100%; 
    border: 1px solid red;  
    position: relative;
    margin: 0;
    
      }


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    width: 30%;
    margin: 20px;
    padding: 25px;
  }
 
  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    float: left;
    width: 45%;
    margin: 15px;
  }

}

/********** Small devices only **********/

@media (max-width: 767px) {
  .col-sm-1 {
    float: left;
    width: 100%;
  }
}

.container {
  border: 1px solid red;
  overflow-x: hidden;
  padding: 10px;
}