

/********** Base styles **********/
* {
  box-sizing: border-box;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    width: 33.33%;
  }
  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    float: left;
    width: 50%;
  }
}




/********** Small devices only **********/

@media (max-width: 767px) {
  .col-sm-1 {
    float: left;
    width: 100%;
  }
}